<!DOCTYPE html>
<html lang="zh">
    <!-- head -->
    {% block head %} 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ title }}</title>
        <meta name="Keywords" content=""/>
        <meta name="Description" content=""/> 
        <!-- css、js -->
        <link href="/static/css/layui.css" rel="stylesheet">
        <script src="/static/layui.js"></script>
    </head>
    {% endblock %}
    <!-- head end -->
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <!-- 头部 -->
            {% block header %} 
            <div class="layui-header">
                <div class="layui-logo">养超管理系统V1.0</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <!-- <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">控制台</a></li>
                    <li class="layui-nav-item"><a href="">商品管理</a></li>
                    <li class="layui-nav-item"><a href="">用户</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>
                        </dl>
                    </li>
                </ul> -->
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <!-- <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
                            {{nickname}}
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="/admin/user/logout">退出</a></li>
                </ul>
            </div>
            {% endblock %}
            <!-- 头部 end -->

            <!-- 左侧 -->
            {% block left %}
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree" lay-filter="test">
                        <!-- <li class="layui-nav-item"><a href="/admin/index">首页</a></li> -->
                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="" href="javascript:;">用户管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="/admin/user/list">用户列表</a></dd>
                                <dd><a href="/admin/user/rechargeList">充值记录</a></dd>
                                <dd><a href="/admin/user/payList">消费记录</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">基地管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">基地列表</a></dd>
                                <dd><a href="javascript:;">列表二</a></dd>
                                <dd><a href="">超链接</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">权限管理</a>
                            <dl class="layui-nav-child">
                                    <dd><a href="javascript:;">管理员列表</a></dd>
                                    <dd><a href="javascript:;">权限分组</a></dd>
                                    <dd><a href="">超链接</a></dd>
                                </dl>
                        </li>
                        <!-- <li class="layui-nav-item"><a href="">发布商品</a></li> -->
                    </ul>
                </div>
            </div>
            {% endblock %}
            <!-- 左侧 end -->

            <!-- 主体 -->
            <div class="layui-body">
            {% block body %} 
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">数据统计</div>
            {% endblock %}
            </div>
            <!-- 主体 end -->

            <!-- 底部 -->
            {% block footer %} 
            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © nodeIn.live - 养超管理系统V1.0
            </div>
            {% endblock %}
            <!-- 底部 end -->
        </div>

    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
    <!-- js -->
    {% block js %} 
    {% endblock %}
    <!-- js end -->
    </body>
    
</html>