<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- bootstrap - css -->
<link href="/static/B-JUI/themes/css/bootstrap.css" rel="stylesheet">
<!-- jquery -->
<script src="/static/B-JUI/js/jquery-1.11.3.min.js"></script>
<script src="/static/B-JUI/js/jquery.cookie.js"></script>
<!-- bootstrap plugins -->
<script src="/static/B-JUI/plugins/bootstrap.min.js"></script>
<title>{{ title }}</title>
<link rel="stylesheet" href="/static/css/admin/login.css">
</head>
<body>
  <header>
    <div class="wrap">
      <h1>{{ name.name }}</h1>
    </div>
  </header>
  <div class="content">
    <h1>养超管理系统V1.0</h1>
    <div class="login container">
      <div class="form-group">
          <h2>平台登录</h2>
      </div>
      <form method="POST" action="/admin/login/login">
        <div class="form-group form-group-lg">
          <label for="name">账号</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="账号">
        </div>
        <div class="form-group form-group-lg">
          <label for="pwd">密码</label>
          <input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
      </form>
    </div>
  </div>
</body>
</html>
