<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>系统登录</title>
<meta name="renderer" content="webkit">
<!-- css、js -->
<link href="/static/css/layui.css" rel="stylesheet">
<script src="/static/layui.js"></script>
<link href="/static/css/admin/login.css" rel="stylesheet">
</head>
<body>
<div class="layui-container container">
  <h1>养超管理系统V1.0</h1>
    <div class="main_box">
        <form action="/admin/login/login" class="layui-form" id="login_form" method="post">
            <div class="form-group">
                <h2>平台登录</h2>
            </div>
            <div class="layui-form-item">
                <label for="username">账号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="j_username" name="username" value="" placeholder="登录账号" aria-describedby="sizing-addon-user">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="name">密码</label>
                <div class="layui-input-block">
                    <span class="input-group-addon" id="sizing-addon-password"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="layui-input" class="form-control" id="j_password" name="pwd" placeholder="登录密码" aria-describedby="sizing-addon-password">
                </div>
            </div>
            <div class="layui-form-item">
                <button type="submit" id="login_ok" class="layui-btn layui-btn-fluid layui-btn-lg layui-btn-normal">&nbsp;登&nbsp;录&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="login_msg text-center"><font color="red"></font></div>
        </form>
    </div>
    <div class="toggle">
        <a href="/group/login">切换到平台端登录</a>
    </div>
</div>
</body>
</html>