{% extends './base.html' %}
{% block body %}
<table id="userList" lay-filter="list"></table>
{% endblock %}

{% block js %} 
<script type="text/javascript">
layui.use('table', function(){
  var table = layui.table;
  
  //初始化表格
  table.render({
    elem: '#userList',
    autoSort: false, //禁用前端自动排序。
    height: 'full-120', 
    url: '/admin/user/rechargeList/', //数据接口
    method: 'post',
    limit: 30,
    // toolbar: 'default',
    parseData: function(res){ //res 即为原始返回的数据
    return {
      "code": res.code, //解析接口状态
      // "msg": res.message, //解析提示文本
      "count": res.count, //解析数据长度
      "data": res.data, //解析数据列表
    };
  },
    page: true, //开启分页
    cols: [[ //表头
      {field: 'id', title: 'ID', sort: true, width:60}
      ,{field: 'username', title: '账号', sort: true}
      ,{field: 'nickname', title: '昵称', sort: true}
      ,{field: 'recharge', title: '充值金额', sort: true}
      ,{field: 'money', title: '当前余额', sort: true}
      ,{field: 'time', title: '操作时间', sort: true}
      ,{field: 'adminName', title: '操作管理员', sort: true}
      ,{field: 'admin', title: '管理员ID'}
      ,{field: 'remarks', title: '备注'}
      // ,{field: 'wealth', title: '操作', toolbar: '#barTool'}
    ]],
  });
  
  // 监听排序
  table.on('sort(list)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    // console.log(obj.field); //当前排序的字段名
    // console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
    // console.log(this); //当前排序的 th 对象
  
    //尽管我们的 table 自带排序功能，但并没有请求服务端。
    //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
    table.reload('userList', {
      initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
      ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
        field: obj.field //排序字段
        ,order: obj.type //排序方式
      }
    });
    
    // layer.msg('服务端排序。order by '+ obj.field + ' ' + obj.type);
  });


});
</script>

<!-- 工具栏 -->
<script type="text/html" id="barTool">
  <a class="layui-btn layui-btn-xs" lay-event="recharge">充值</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  
</script>
{% endblock %}