<table id="userList" class="table table-bordered" data-toggle="datagrid">
    <thead>
        <tr>
            <th data-options="{name:'name',align:'center',width:70}">账号</th>
            <th data-options="{name:'nickname',align:'center',width:70}">昵称</th>
            <th data-options="{name:'phone',align:'center',width:140}">电话</th>
            <th data-options="{name:'IDcard',align:'center',width:300,edit:false}">身份证</th>
            <th data-options="{name:'group_id',align:'center'}">入住基地</th>
            <th data-options="{name:'money',align:'center',width:70,edit:false,quickfilter:false}">余额</th>
            <th data-options="{name:'socre',align:'center',width:70,quickfilter:false}">积分</th>
            <!-- <th data-options="{name:'createtime',align:'center',type:'date',pattern:'yyyy-MM-dd HH:mm:ss'}">创建时间</th> -->
        </tr>
    </thead>
</table>

<script type="text/javascript">
    $('#userList').datagrid({
        dataUrl: '/admin/user/list',
        height: '100%',
        // tableWidth:'100%',
        showToolbar: false,
        // toolbarCustom:recharg(),
        paging: {pageSize:50, pageCurrent:1},
        linenumberAll:true, // 全局行号
        showEditbtnscol:true, // 编辑按钮
        editUrl:'/admin/user/edit?id={id}',
        // editMode:{dialog:{}},
        // editMode:'dialog',
    });
    
</script>